* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  transition: .5s;
}

h2 {
  color: #16161d;
}

h3 {
  color: #222;
}

p {
  color: #333;
}

body {
  background-color: #eee;
}

main {
  position: relative;
  padding-block: 25px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  font-family: 'Lora';
}

.logo {
  height: 9vw;
}

#title {
  padding-block: 15px;
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.25);
}

section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.frame {
  padding: 15px;
  background-color: #fff;
}

.frame:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

footer {
  padding-block: 15px;
  text-align: center;
}